*,
*::before,
*::after {
	box-sizing: border-box;
	text-decoration: none;
	text-transform: capitalize;
}

html {
	scroll-behavior: smooth;
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: overlay;
}
body .Container {
	margin-inline: auto;
}

a,
li,
ul,
button {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: black;
}

button,
[button] {
	border-radius: 5px;
	background-color: transparent;
	font-weight: 700;
	padding: 0.5rem 2.2rem;
	margin: 8px;
	line-height: 1.5;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	text-align: center;
}

header {
	width: 100vw;
	height: 6rem;
	z-index: 1000;
}
header .Container {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .Container .Logo a {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 400;
}
header .Container nav {
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
header .Container nav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .Container nav .nList {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
header .Container nav .nList span:nth-child(1) {
	display: none;
}
header .Container nav .nList span:nth-child(2),
header .Container nav .nList span:nth-child(3),
header .Container nav .nList span:nth-child(4) {
	width: 100%;
	height: 3px;
	background-color: black;
}
header .Container nav .navList span:nth-child(1) {
	position: absolute;
	top: 20px;
	right: 40px;
	display: block;
	font-size: 3rem;
}
header .Container nav .navList span:nth-child(2),
header .Container nav .navList span:nth-child(3),
header .Container nav .navList span:nth-child(4) {
	display: none;
}
header .Container .exbend {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: -100%;
	right: 0px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-animation-name: navOpen;
	animation-name: navOpen;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 10;
}
@-webkit-keyframes navOpen {
	to {
		top: 0%;
	}
}
@keyframes navOpen {
	to {
		top: 0%;
	}
}

section {
	width: 100vw;
	height: 100vh;
}
section .Container {
	height: 100%;
}
section .Container .Hero {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	height: calc(100vh - 6rem);
}
section .Container .Hero .Hero-Text,
section .Container .Hero .Hero-Star {
	width: 50%;
	height: 100%;
}
@media screen and (max-width: 769px) {
	section .Container .Hero {
		flex-direction: column;
	}
	section .Container .Hero .Hero-Text,
	section .Container .Hero .Hero-Star {
		width: 100%;
		height: 50%;
	}
}
@media screen and (max-width: 2560px) {
	html {
		font-size: 18px;
	}

	.Container {
		width: 75%;
	}
}
/*For 4K */
@media screen and (max-width: 1600px) {
	html {
		font-size: 12px;
	}
}
/*For L Monitor */
/*For Monitor */
@media screen and (max-width: 1024px) {
	html {
		font-size: 10px;
	}

	.Container {
		width: 80%;
	}
}
/*For laptop, S-Monitor */
@media screen and (max-width: 768px) {
	header .Container nav {
		width: auto;
	}
	header .Container nav ul {
		display: none;
	}
	header .Container .exbend ul {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		font-size: 3rem;
	}

	button,
	[button] {
		width: 100%;
	}
}
/*For tablets */
/*For S phones */ /*# sourceMappingURL=main-style.css.map */
