@media screen and (max-width: 2560px) {
	html {
		font-size: 18px;
	}
	.Container {
		width: 75%;
	}
}
/*For 4K */

@media screen and (max-width: 1600px) {
	html {
		font-size: 12px;
	}
	// .Container {
	// }
} /*For L Monitor */

@media screen and (max-width: 1440px) {
	// .Container {
	// }
} /*For Monitor */

@media screen and (max-width: 1024px) {
	html {
		font-size: 10px;
	}
	.Container {
		width: 80%;
	}
}
@media screen and (min-width: 1024px) {
} /*For laptop, S-Monitor */

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
	header {
		.Container {
			nav {
				width: auto;
				ul {
					display: none;
				}
			}
			.exbend ul {
				width: 100%;
				height: 60%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				font-size: 3rem;
			}
		}
	}
	// .Container {
	// }
	button,
	[button] {
		width: 100%;
	}
} /*For tablets */

// @media screen and (max-width: 425px) {
// 	.Container {
// 	}
// } /*For M,L phones */

// @media screen and (max-width: 320px) {
// 	.Container {
// 	}
// }
/*For S phones */
